<a href="https://colab.research.google.com/github/shashi02-debug/python-codes/blob/main/Python%20leetcode(Innomatics).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Programming Task-3(For Advance EDA)

**1.Maximum product of 2 elements in an array**

Given the array of integers nums, you will choose two different indices i and j of that array. Return the maximum value of (nums[i]-1)*(nums[j]-1).


Example 1:

Input: nums = [3,4,5,2]
Output: 12
Explanation: If you choose the indices i=1 and j=2 (indexed from 0), you will get the maximum value, that is, (nums[1]-1)*(nums[2]-1) = (4-1)*(5-1) = 3*4 = 12.
Example 2:

Input: nums = [1,5,4,5]
Output: 16
Explanation: Choosing the indices i=1 and j=3 (indexed from 0), you will get the maximum value of (5-1)*(5-1) = 16.
Example 3:

Input: nums = [3,7]
Output: 12

In [1]:

n = int(input("Enter number of elements: "))
nums = list(map(int, input("Enter the elements: ").split()))
largest = second_largest = -1
for num in nums:
    if num > largest:
        second_largest = largest
        largest = num
    elif num > second_largest:
        second_largest = num
result = (largest - 1) * (second_largest - 1)
print("Maximum value:", result)

Enter number of elements: 4
Enter the elements: 3 4 5 2
Maximum value: 12

**2.Count Number of Teams**

There are n soldiers standing in a line. Each soldier is assigned a unique rating value.

You have to form a team of 3 soldiers amongst them under the following rules:

Choose 3 soldiers with index (i, j, k) with rating (rating[i], rating[j], rating[k]).
A team is valid if: (rating[i] < rating[j] < rating[k]) or (rating[i] > rating[j] > rating[k]) where (0 <= i < j < k < n).
Return the number of teams you can form given the conditions. (soldiers can be part of multiple teams).



Example 1:

Input: rating = [2,5,3,4,1]
Output: 3
Explanation: We can form three teams given the conditions. (2,3,4), (5,4,1), (5,3,1).
Example 2:

Input: rating = [2,1,3]
Output: 0
Explanation: We can't form any team given the conditions.
Example 3:

Input: rating = [1,2,3,4]
Output: 4


Constraints:

n == rating.length
3 <= n <= 1000
1 <= rating[i] <= 105
All the integers in rating are unique.

In [2]:

rating = list(map(int, input("Enter soldier ratings: ").split()))
n = len(rating)
teams = 0
for j in range(1, n - 1):
    left_smaller = left_greater = 0
    right_smaller = right_greater = 0
    for i in range(j):
        if rating[i] < rating[j]:
            left_smaller += 1
        else:
            left_greater += 1
    for k in range(j + 1, n):
        if rating[k] > rating[j]:
            right_greater += 1
        else:
            right_smaller += 1
    teams += left_smaller * right_greater
    teams += left_greater * right_smaller

print("Number of valid teams:", teams)

Enter soldier ratings: 2 5 3 4 1
Number of valid teams: 3

**3.Number of Students Doing Homework at a Given Time**

Given two integer arrays startTime and endTime and given an integer queryTime.

The ith student started doing their homework at the time startTime[i] and finished it at time endTime[i].

Return the number of students doing their homework at time queryTime. More formally, return the number of students where queryTime lays in the interval [startTime[i], endTime[i]] inclusive.



Example 1:

Input: startTime = [1,2,3], endTime = [3,2,7], queryTime = 4
Output: 1
Explanation: We have 3 students where:
The first student started doing homework at time 1 and finished at time 3 and wasn't doing anything at time 4.
The second student started doing homework at time 2 and finished at time 2 and also wasn't doing anything at time 4.
The third student started doing homework at time 3 and finished at time 7 and was the only student doing homework at time 4.
Example 2:

Input: startTime = [4], endTime = [4], queryTime = 4
Output: 1
Explanation: The only student was doing their homework at the queryTime.


Constraints:

startTime.length == endTime.length
1 <= startTime.length <= 100
1 <= startTime[i] <= endTime[i] <= 1000
1 <= queryTime <= 1000

In [3]:

startTime = list(map(int, input("Enter start times: ").split()))
endTime = list(map(int, input("Enter end times: ").split()))
queryTime = int(input("Enter query time: "))
count = 0
for i in range(len(startTime)):
    if startTime[i] <= queryTime <= endTime[i]:
        count += 1

print("Number of students doing homework:", count)

Enter start times: 1 2 3
Enter end times: 3 2 7
Enter query time: 4
Number of students doing homework: 1

**4.Number of Steps to Reduce a Number to Zero**

Given an integer num, return the number of steps to reduce it to zero.

In one step, if the current number is even, you have to divide it by 2, otherwise, you have to subtract 1 from it.



Example 1:

Input: num = 14
Output: 6
Explanation:
Step 1) 14 is even; divide by 2 and obtain 7.
Step 2) 7 is odd; subtract 1 and obtain 6.
Step 3) 6 is even; divide by 2 and obtain 3.
Step 4) 3 is odd; subtract 1 and obtain 2.
Step 5) 2 is even; divide by 2 and obtain 1.
Step 6) 1 is odd; subtract 1 and obtain 0.
Example 2:

Input: num = 8
Output: 4
Explanation:
Step 1) 8 is even; divide by 2 and obtain 4.
Step 2) 4 is even; divide by 2 and obtain 2.
Step 3) 2 is even; divide by 2 and obtain 1.
Step 4) 1 is odd; subtract 1 and obtain 0.
Example 3:

Input: num = 123
Output: 12


Constraints:

0 <= num <= 106

In [4]:

num = int(input("Enter a number: "))

steps = 0

while num > 0:
    if num % 2 == 0:
        num //= 2
    else:
        num -= 1
    steps += 1

print("Number of steps to reduce to zero:", steps)

Enter a number: 14
Number of steps to reduce to zero: 6

**5.Counting Bits**

Given an integer n, return an array ans of length n + 1 such that for each i (0 <= i <= n), ans[i] is the number of 1's in the binary representation of i.



Example 1:

Input: n = 2
Output: [0,1,1]
Explanation:
0 --> 0
1 --> 1
2 --> 10
Example 2:

Input: n = 5
Output: [0,1,1,2,1,2]
Explanation:
0 --> 0
1 --> 1
2 --> 10
3 --> 11
4 --> 100
5 --> 101


Constraints:

0 <= n <= 105

In [5]:

n = int(input("Enter a number: "))
ans = [0] * (n + 1)
for i in range(1, n + 1):
    ans[i] = ans[i // 2] + (i % 2)
print("Count of 1's in binary from 0 to", n, ":")
print(ans)

Enter a number: 2
Count of 1's in binary from 0 to 2 :
[0, 1, 1]